[2016-09-11 22:28] marikavertzonis opened #1 "Release 1.0 checklist"
- [x] features complete
- [x] Testing complete
- [x] apps submitted to stores
- [x ] app released in apple app store
- [x] app released in google play store
- [ ] make app available as sample in AppStudio
- [x] move repo to public facing github/Esri
- [x] add to labs.esri.com
- [x] make marketplace listing available
- [x] geonet blog released

[2016-09-21 05:11] marikavertzonis opened #2 "App link callback parameters support"
http://x-callback-url.com/ describes an existing standard used by many other apps we should follow.
[scheme]://[host]/[action]?[x-callback parameters]&[action parameters]
This specification accommodates a number of scenarios, including being able to send back success or failure results.

We also have similar (but not quite the same) app links in use by Survey123, Collector and Navigator. As Trek2T

[2016-09-21 07:07] marikavertzonis opened #3 "Improve arrival mathematics"
Predictive filtering algorithms should be used to improve navigation and arrival mathematics. Consider Kalman filtering to improve arrival https://en.wikipedia.org/wiki/Kalman_filter

[2016-09-22 22:32] IsmaelInRedlands opened #4 "Miscellaneus Comments on 1.0.58"
Just a handful of  comments on 1.0.58 since I will  not be able to attend today's review meeting:
- After  I set the target location, I see a yellow dialog telling me 'Travel direction not recognized'. I think this dialog should not tell me about a problem, but about a solution. For example, if the problem is that my device  is not being held horizontally: tell me I need to hold device  horizontal

[2016-09-22 22:32] defiantgoat opened #5 "Navigation fails to start when application is called from another app."
Navigation appears to not start after the app is called from another application. Though the end button appears and coordinates show up in Settings view.

Upon retuning back from settings view, navigation (the arrow starts turning) appears to start.

[2016-09-23 06:43] #5 closed, assigned to nobody

[2016-09-23 07:04] defiantgoat opened #6 "Arrived Map Pin Icon Not showing in landscape orientation."
Need to tweak width and height to match the pointer icon.

[2016-09-26 02:21] defiantgoat opened #7 "Update Direction of Travel Arrow"
Color:
R: 51
G: 128
B: 51

Sizing:
Needs to be slightly smaller.

[2016-09-26 02:24] #7 closed, assigned to defiantgoat

[2016-09-26 02:46] #6 closed, assigned to nobody

[2016-09-26 03:13] defiantgoat opened #8 "App settings not saving correctly in Android"
For example, requesting not to see the warning screen doesn't set the correct flag in Android. Works in iOS.

[2016-09-26 04:38] defiantgoat opened #9 "Make Settings View be scrollable"
Currently view doesn't scroll and so settings get cut off of certain devices.

[2016-09-26 04:39] defiantgoat opened #10 "Day / Night mode setting becomes mis-matched"
Sometimes when the application is open and night mode has been saved as a preference in the settings, day mode will still be in effect on the SettingsView and when day mode is then checked on the NavigationView, night mode is visible on the SettingsView.

[2016-09-26 06:25] #9 closed, assigned to defiantgoat

[2016-09-26 06:30] #8 closed, assigned to defiantgoat

[2016-09-26 07:02] #10 closed, assigned to nobody

[2016-09-27 00:31] defiantgoat opened #11 "Add mechanism to show and autohide bottom button bar on Navigation Vieww"
Per UI/UX spec, the bottom bar with settings button, day/night button and end button should autohide during navigation and then appear when the user touches the screen.

[2016-09-27 01:30] #11 closed, assigned to defiantgoat

[2016-09-27 01:43] defiantgoat opened #12 "AppMetrics not working in Android"
Metrics are not being sent by Android devices.

[2016-09-27 16:48] IsmaelInRedlands opened #13 "Miscellaneus Comments on 1.0.108"
I tested the app today to get to a customer's office. Some quick comments:
- First of all, the app got me where I wanted to go. So overall, it did its job. The comments below are  just enhancements.
- I tested it twice:
  - From my hotel to the customer's office. Distance 1300m
  - From customer's office to the Esri Portland Office 600m
- Remember Distance Units: It would be nice if the app would

[2016-09-27 18:02] sathyaprasad opened #14 "Do not use app icon with transparent background"
Please use the iOS app icon in the box folder instead of the transparent one. This icon will look good on both Android and iOS devices.

![image](https://cloud.githubusercontent.com/assets/214337/18885716/ad76a6ea-84a1-11e6-9cc5-bf715c316cc0.png)

[2016-09-27 21:18] spatialdude opened #15 "Set position source mode to NAVIGATION"
Set the position source environment variables to use navigation mode if available on the device.

![image](https://cloud.githubusercontent.com/assets/7235583/18892109/8d6e907e-854b-11e6-82b6-26a7428e4094.png)

This should improve some of the behaviour observed in #13

[2016-09-27 21:26] spatialdude opened #16 "Location accuracy indicator"
A critical contributing factor to arrival detection and some of the observations in #13 is the **horizontalAccuracy** being reported by the location sensor.

The horizontal accuracy should somehow be displayed to the user.

This could either as an absolute value as reported by the sensor -

e.g. For the distance to destination **123 m ± 10 m**

or a graphical representation such as signal strength

[2016-09-28 00:19] #12 closed, assigned to defiantgoat

[2016-09-28 00:27] spatialdude opened #17 "About dialog"
Add a standard about dialog/page

[2016-09-28 00:28] sathyaprasad opened #18 "Need to disclose any metrics collection in the app to the end user"
As I understand right now, the app is collecting metrics using hockey. Once we get close to final we need to decide if we still need to collect metrics of usage/crash via hockey or some other service. If yes then:
1. It should be stated as such in the About page. Need to be explicit about what is being collected and what is the intention (i.e. are you tracking me vs. we are using it to understand

[2016-09-28 00:30] spatialdude opened #19 "Checkbox looks like a radio button"
Round checkbox style is confusing as that appearance is normally associated with radio buttons.

e.g. A user coming from Survey123 would see the radio button and think its multiple choice.

Check boxes should look like check boxes.

[2016-09-28 00:40] defiantgoat opened #20 "Remove small direction of travel arrow"
Remove small arrow, but leave outer circle.

[2016-09-28 00:42] defiantgoat opened #21 "Add blank state (no coordinates entered) to NavigationView"
When there are no coordinates entered on settings and user returns to Navigation View direction arrow and distance indicators should be hidden and replaced with a message.

[2016-09-28 00:42] defiantgoat opened #22 "Move day/night toggle to SettingsView"
Move day / night toggle option to settings view.

[2016-09-28 00:44] defiantgoat opened #23 "Add Save button to SettingsView"
Add save button to top right that user would press to 'accept' changes to lat / long values.

If not pressed, then changes to lat / long are not saved on back button click and return to Navigation View.

[2016-09-28 00:45] defiantgoat opened #24 "Update Settings icon and move End button on NavigationView"
Replace settings icon and move End button to bottom right.

[2016-09-28 00:47] defiantgoat opened #25 "Update disabled arrow graphic in NavigationView"
When arrow is grayed out, it should be replaced with another graphic so user doesn't follow it.

[2016-09-28 00:49] defiantgoat opened #26 "Validate lat / long entries on SettingsView"
Ensure that they are numerical values.

[2016-09-28 01:05] #15 closed, assigned to nobody

[2016-09-28 02:35] spatialdude opened #27 "Radio buttons look like check boxes"
Related to #19, In the settings tab radio button choices are show with check boxes.

Radio button should look like radio buttons.

It counterintuitive to use opposite appearances for check boxes and radio buttons when compared to most apps.

[2016-09-28 21:35] spatialdude opened #28 "Incorrect bundle id for Android"
Is using the default, should be com.esri.trek2there

[2016-09-28 22:00] spatialdude opened #29 "'End' needs to look like a button"
'End' does not look like a button and is not intuitive.

The UI needs to be considerate of the target audience of field workers that work with gloves and are familiar with applications that have buttons that look like buttons.

Buttons must look like buttons.
Buttons such as this should be large enough to press press with gloves on.

@marikavertzonis

[2016-09-28 23:15] qhui-red opened #30 "Scale of settings icon in no destination set message, on Windows, is tool big"

[2016-09-29 02:56] #28 closed, assigned to nobody

[2016-09-29 02:57] #29 closed, assigned to nobody

[2016-09-29 03:00] #20 closed, assigned to defiantgoat, qhui-red

[2016-09-29 03:05] #22 closed, assigned to defiantgoat

[2016-09-29 03:21] #26 closed, assigned to defiantgoat

[2016-09-29 03:30] marikavertzonis opened #31 "Direction arrow bounces around"
Particularly when stopping or starting, the direction arrow does bounce around.
Moving at a steady pace seems to help the arrow rotate smoothly.

More effort is required to improve the arrow behavior, including
- Arrival maths - #3
- Location accuracy indicator could help communicate why the arrow might be bouncing around - #16

[2016-09-29 03:39] marikavertzonis opened #32 "Contrast switch - Sun icon is quite similar to Settings icon - consider alternative to Sun / Moon"
Day night mode, and subsequently the icons that represent it (sun and moon) are an gross simplicifcation of the tools needs. It really is a contrast switch. It dosnt need to be night time to need the 'night' setting.  See https://github.com/ArcGIS/Trek2There/issues/22#issuecomment-250108430 for more discussion.

The main point of this issue is to review the icon of the Sun. It looks like the Setti

[2016-09-29 03:41] marikavertzonis opened #33 "Explore tilt capabiltes of Qt Sensor to advise user how to orient the device"
Qt Sensor includes capability to tell the tilt of the device. I think this could be useful (when available). For example, if I have my phone vertically, then it will be hard for us to get the user's Azimuth. The app should probably tell me that I need to hold it somewhat horizontally for the arrow to be accurate.

[2016-09-29 03:42] #4 closed, assigned to nobody

[2016-09-29 04:18] #13 closed, assigned to nobody

[2016-09-29 05:10] #14 closed, assigned to nobody

[2016-09-29 05:28] #24 closed, assigned to defiantgoat

[2016-09-29 05:29] #21 closed, assigned to defiantgoat

[2016-09-29 05:58] #27 closed, assigned to nobody

[2016-10-03 04:57] marikavertzonis opened #34 "Screen rotates too easily on some devices"
Testing with Cedar Tree 4 device (Android 4.2.2) and the display flips from portrait to landscape too easily. Did NOT happen on other test devices (various iOS and Android) - @IsmaelInRedlands in #13 you describe this happening - what device model and operating system combo was this on?

[2016-10-03 05:08] marikavertzonis opened #35 "Very slow location 'fix' when come from another app, results in no feedback from app for long time"
Test devices that did this:
- Cedar tree 4, Android 4.4.2
- iPad 2, iOS 10.0.1

When I launch Trek2There from another app (in this case Survey123) on these devices i don't see the distance or arrow start to move for minutes. Tapping the settings button and then the back button straight away without changing the coordinates, APPEARS to speed up seeing the distance... but it just might be the time t

[2016-10-03 05:11] marikavertzonis opened #36 "Disclaimer text on startup"
From: Scott Sandusky ssandusky@esri.com
Date: Saturday, 1 October 2016 at 9:07 AM
To: Elvin Slavik ESlavik@esri.com, Jayson Ward Jayson_Ward@esri.com, Marika Vertzonis MVertzonis@esri.com
Subject: Trek2There - final disclaimer text

Hi Team,
Here’s the final disclaimer text for us to use.  Thanks!

Do not attempt to use this directional information unless you are at a complete stop. Travel safely

[2016-10-04 00:01] IsmaelInRedlands opened #37 "Create Trek2There Custom URL Scheme from a web browser"
I created a simple app to easily create Trek2There custom URL Schemes from a web browser. Something like this would be useful for people to quickly get started with the app.

https://arcgis.github.io/Trek2There/Trek2ThereWebLauncher.html

Scott: May be something like this would be useful for the blog post:
1- Install the app
2- Open this URL, point to your destination and launch Trek2There by simp

[2016-10-04 02:10] marikavertzonis opened #38 "License agreement dosnt display on Android 4.4.2 or below without additional app"
The license agreement is a hosted PDF file that launches in a browser on Android 5.0 and above and on iOS. On Android 4.4.2 and below, the file is downloaded, but default apps on the device can not open it.
The short url of
http://esriurl.com/labseula
points to
http://www.esri.com/~/media/Files/Pdfs/legal/pdfs/mla_e204_e300/english

[2016-10-04 02:25] #17 closed, assigned to nobody

[2016-10-04 02:26] #36 closed, assigned to nobody

[2016-10-04 02:27] #18 closed, assigned to nobody

[2016-10-04 02:32] #19 closed, assigned to nobody

[2016-10-05 01:06] defiantgoat opened #39 "Navigation doesn't start if T2T is called from another application and T2T isn't running in background already"
This is evident as the 'End' button isn't visible which means the startNavigation() method hasn't been called.

This related to #35 as well I think.

[2016-10-05 02:12] marikavertzonis opened #40 "On Windows app linking launches a new instance of the app, even if already open"
On Windows (tested with 1.0.172) the callback function launches a new instance of the referring app, rather than bringing focus to the already open app.
In my example i used Survey123 to launch Trek2There. When i click end, a new instance of Survey123 is launched.

Also if you are in Survey123 and Trek2There is already open, if you click an app link, a new instance of Trek2There is launched. This

[2016-10-05 06:25] #39 closed, assigned to nobody

[2016-10-05 22:57] qhui-red opened #41 "Need a new graphic for "Start moving to determine direction" state"
In Sep 26 usability testing, I found user keep following the arrow even if it is grayed out.

Need a new graphic to represent this state. For example, a question mark icon.

[2016-10-09 23:52] marikavertzonis opened #42 "Enable logging of trek data"
The app includes code that logs trek information [timestamp, pos_lat, pos_long, pos_dir, klat, klong, az_to, dist_to, degrees_off] for analysis post travel.
This information should be saved to a sqlite file that a user can copy of the device for their own use.

For version 1.0 a user can be directed to manually change logging setting to 'true'.

Future improvements include:
- UI on settings page t

[2016-10-11 02:11] #42 closed, assigned to nobody

[2016-10-13 00:04] sathyaprasad opened #43 "New "Esri Labs" text to be added in the app"
Please add the following text at the end of "Disclaimer" text and "About" page as requested by @nitinsbajaj

[2016-10-18 22:48] marikavertzonis commented on #37
NB: the url is now
https://esri.github.io/Trek2There/Trek2ThereWebLauncher.html
have added it to readme.

[2016-10-18 22:48] #37 closed

[2016-10-19 04:44] IsmaelInRedlands opened #44 "Link to marketplace listing in labs.esri.com is incorrect"
The Trek2There item in labs.esri.com should link to: https://marketplace.arcgis.com/listing.html?id=a1a3caec68694eaf8b6e0c25f0657275   Currently it is pointing to snap2data.

[2016-10-19 04:58] nitinsbajaj commented on #44
I sent it for update at noon, should be done in the am

On Tue, Oct 18, 2016 at 9:44 PM -0700, "Ismael Chivite" <notifications@github.com<mailto:notifications@github.com>> wrote:

The Trek2There item in labs.esri.com should link to: https://marketplace.arcgis.com/listing.html?id=a1a3caec68694eaf8b6e0c25f0657275 Currently it is pointing to snap2data.

-
You are receiving this because you are subscr

[2016-10-19 15:35] #44 closed

[2016-10-24 00:02] defiantgoat opened #45 ""Start Moving" notation isn't shown on the start of navigation on some Android devices"
On some Android devices position.directionValid must return true so the statusMessage isn't shown when navigation first starts in order to inform the user to move. This isn't an issue on iOS.

See comment in NavigationView code > https://github.com/Esri/Trek2There/blob/master/NavigationView.qml#L496

[2016-10-24 22:46] marikavertzonis opened #46 "Keyboard dosnt have a minus sign on some Android devices"
Entering long and lat values require a minus sign, and on some Android devices the default keyboard doesn't have one.
Some model Samsung and LG keyboards suffer from this, but we've seen defaults on Sony, Cedar Tree, Nexus, some Samsung with the minus sign.

Downloading a Google keyboard fixes the issue.

However, if this does pose an an ongoing issue, should consider adding a custom keyboard to t

[2016-10-25 00:16] spatialdude commented on #46
Ideally we make the input fields parse a variety of ways lats and longs can be input.

e.g. These all represent the same latitude

-37.5
S 37.5
37.5 S
S 37 30

This doesn't negate the usefulness of a dedicated virtual keyboard for coordinate input.

[2016-10-26 01:17] craigcarps opened #47 "Seamless Integration between Collector and Trek2There"
User feedback has strongly indicated the need to launch Trek2There directly from Collector when the user selects an existing Collector point or location. This would then pass the coordinate values from Collector to Trek2There and allow for navigation to the point. When the user arrives at the point the Collector app re-opens.

[2016-10-26 01:22] craigcarps opened #48 "Bearing Label"
Strong user feedback for a bearing label on the direction arrow has been received. This is to allow for Trek2There to be used in compliment to conventional physical compass use in the field for navigation.

The workflow would be the user identifies a location to navigate too, Trek2There provides the distance and bearing values. The user puts the electronic device safely back in their bag (this pre

[2016-10-26 23:27] IsmaelInRedlands opened #49 "Modify Web Launcher so a graphic is added to map on user's destination"
Implemented.
Thanks to @juliepowell for the fix!

[2016-10-26 23:27] #49 closed

[2016-10-31 13:35] gradzevicius opened #50 "Destination input"
There is a need to set destination not only in Decimal degrees (Latitude/Longitude) but also in Meters.

[2016-10-31 13:37] gradzevicius opened #51 "Integration between Workforce, Collector and Trek2There"
There is a need that Trek2There would be integrated with Workforce and Collector. It would be very useful navigate to assignment or item.

[2016-11-03 07:16] #1 closed

[2016-11-06 09:08] jakc commented on #47
Agree for the need in Collector Craig.  You are probably already aware, [but there is a sample template](https://geonet.esri.com/groups/survey123/blog/2016/10/24/introducing-trek2there) for Survey123 that works nicely between the two apps.

[2016-11-06 13:34] craigcarps commented on #47
Hi Simon

Yeah I've seen the template with survey 123, the problem I have is a few
clients who are already using collector and want the off road navigation
capability.

Thanks for the link

Craig

On Sunday, 6 November 2016, Simon Jackson <notifications@github.com> wrote:

[2016-11-17 03:46] spatialdude opened #52 "Implement appschema.json"
Implement an **appschema.json** for the configurable app parameters.

[2016-11-21 18:22] Lmawhinney7175 commented on #47
I agree with the need in Collector Craig as well.  I would really like to be able to select the point I want to go to and then get feed back to how close I am.  This would be valuable.

[2016-11-21 20:31] IsmaelInRedlands commented on #47
Hi! We are going to add integration of Trek2There with Collector in a couple of phases:
1) December 13: The 4.4 update of ArcGIS Online will let you create Web Map popups including links to Trek2There. We will follow a pattern similar to what is described here for  integrating Collector with Survey123.
2) March update of ArcGIS Online: As of December  13, you will always need to have in your Colle

[2016-11-21 20:51] Lmawhinney7175 commented on #47
Hello,

Thank you for forwarding this information.  I look forward to the updates.

Laura

Hi! We are going to add integration of Trek2There with Collector in a couple of phases:
December 13: The 4.4 update of ArcGIS Online will let you create Web Map popups including links to Trek2There. We will follow a pattern similar to what is described here for integrating Collector with Survey123.
March upd

[2016-11-22 01:11] jdzurisin commented on #47
Thanks so much for the application itself and for the gameplan to integrate to Collector. For our team, and many others like it, this has been a crucial limitation of Collector to date. With seamless integration of Trek2There in a similar vein to what has been done with Navigator this would finally be a perfect ecosystem for our crews. Really looking forward to seeing this come to fruition.

[2016-11-22 04:49] spatialdude commented on #41
Example of a car navigation system display.

![carnav](https://cloud.githubusercontent.com/assets/7235583/20511290/136ce9e6-b0cb-11e6-8d85-423e32a6ebfd.jpg)

[2016-11-24 22:44] craigcarps commented on #47
Ismael

That's brilliant news, an early Xmas present for clients :)

The use of the xy coordinates direct from the geometry will be exactly what is needed.

Cheers for the update.
Craig

[2016-12-19 04:26] defiantgoat opened #53 "Add QML accessibility parameters to application"
In order to make application accessible, begin by adding Qt's Accessible parameters to application components.

http://doc.qt.io/qt-5/qml-qtquick-accessible.html

[2016-12-19 21:02] Lmawhinney7175 commented on #47
Hello Ismael,

Can you please elaborate on how the location data is passed from the
web map to the trek2there app?

Kind Regards,

Laura

Laura Mawhinney
GIS Technician
CITY OF TUCSON
Tucson Water
(520) 837-2175

"Data is important... However, not as important as the answers it
provides or the stories that it tells."

Hi! We are going to add integration of Trek2There with Collector in a
couple of

[2016-12-23 00:19] IsmaelInRedlands commented on #47
@Lmawhinney7175 @craigcarps @jdzurisin @jakc  Now that ArcGIS Online 4.4 is out, I added some details regarding integration of Trek2There with Collector and Explorer. Find out more at the ArcGIS blog: https://blogs.esri.com/esri/arcgis/2016/12/22/introducing-trek2there/

[2017-01-12 15:51] kulasdn opened #55 "copy/paste lat longs in app for iPhone"
Maybe I'm missing something, but I've been trying to simply copy/paste lat longs into Trek2There  on my iPhone and when I tap & hold on the boxes to enter latitude and longitude, the paste option will not appear. I just downloaded Trek2There so I have the latest version. I verified that the coordinates were indeed copied to my clipboard so I'm pretty sure this is not user error. It would be really

[2017-01-13 06:06] IsmaelInRedlands commented on #51
See this [blog ](https://blogs.esri.com/esri/arcgis/2016/12/22/introducing-trek2there/)for information about launching Trek2There from Collector for ArcGIS and Explorer for ArcGIS while adding the coordinates of your destination.

 https://blogs.esri.com/esri/arcgis/2016/12/22/introducing-trek2there/

[2017-01-18 05:34] defiantgoat commented on #55
Copy and pasting into TextFields with custom styles was a bug that has been fixed with Qt 5.7.  Once we build Trek2There with the newest version of Qt, this bug will be fixed.

[2017-01-19 01:58] defiantgoat commented on #43
@nitinsbajaj @sathyaprasad Added text. Will be in next release.

[2017-01-23 03:30] defiantgoat opened #56 "Enable Trek2There to listen to the application clipboard for coordinate copying"
If coordinates are copied to the clipboard, allow T2T to listen for data changes and react if the copied data matches the following schemes:

## As JSON in the following format:

{
	"latitude": latitude in decimal coordinates,
	"longitude": longitude in decimal coordinates
}

Example:
[code]

## As a string in the following format

latitude in decimal coordinates, longitude in decimal coordinates

[2017-01-23 22:19] IsmaelInRedlands commented on #56
@defiantgoat  It would not be nice to have Trek2There change the coordinates without a warning. I think prompting the user whenever coords are copied to clipboard is a good thing.

As for the format, it will be hard for the app to figure which coord is lat and which one is lon.

For example, in this case: -89.44454,-79.34343433  which one is which?

[2017-01-23 23:03] marikavertzonis commented on #16
tested 1.0.27 on android 4.2 (CT4) and iOS 8.4 (iphone 5). The accuracy symbol does correspond to the text as expected.

@defiantgoat - The bars do look a lot like network strength... could we experiment with concentric circles? Circles are used on maps to indicate accuracy... a bullseye may resemble those circles. Below is a crude example
![accuracy](https://cloud.githubusercontent.com/assets/571

[2017-01-24 00:07] defiantgoat commented on #56
@IsmaelInRedlands If the user is using a simple string, the responsibility will be on the user to ensure that it is latitude, longitude (y,x).  Clearly if a value is greater than 90 then we could figure out, but that would be impossible to implement consistently.

[2017-01-24 00:08] defiantgoat commented on #16
I will test out a concentric circle version.

[2017-01-24 04:00] defiantgoat commented on #56
Added ability to swap coordinates that are copied from the clipboard (if they are valid).
![img_0402](https://cloud.githubusercontent.com/assets/3229911/22233652/d9161a9a-e245-11e6-9c57-fe1f73c2b640.jpg)
![img_0403](https://cloud.githubusercontent.com/assets/3229911/22233653/db53d8ec-e245-11e6-94b7-ed0cdb9c4c86.jpg)

[2017-01-24 04:03] defiantgoat commented on #16
Added as of v 1.1.9

![screen shot 2017-01-24 at 3 02 14 pm](https://cloud.githubusercontent.com/assets/3229911/22233698/20f08206-e246-11e6-891d-fc40f04acdf1.png)

May refine to 3 or 4 levels with color coordination
1: Red
2: Orange
3: Green

[2017-01-24 05:45] defiantgoat commented on #56
This functionality is currently only working on iOS. Debugging now for Android.

[2017-01-24 23:20] defiantgoat commented on #56
There is no current resolution in the AppFramework to allow this to work in Android devices. As of now, this is only an iOS available feature.

[2017-01-25 05:09] marikavertzonis commented on #43
I see the text in both places on android 4.2 (CT4) and iOS 8.4 (iphone 5), but because the first two paragraphs neatly fit on the screen i didn't know to scroll the text. Once i coincidentally scrolled it was apparent - but until then i thought the text was missing. Can you add an arrow that indicates that there is more text to view?

[2017-01-25 05:13] marikavertzonis commented on #30
tested on windows 10 - with 1.1.10 and scale of icon is good.
![settingsscalefix](https://cloud.githubusercontent.com/assets/5713624/22278631/2062b52e-e319-11e6-9f12-67e321fdb1ea.PNG)
also confirmed its still good on android 4.2 (CT4) and iOS 8.4 (iphone 5).

[2017-01-25 05:13] #30 closed

[2017-01-30 19:04] qhui-red commented on #32
Switcher Icon
[themeswitch.svg.zip](https://github.com/Esri/Trek2There/files/739968/themeswitch.svg.zip)

[2017-01-30 19:04] qhui-red commented on #25
No signal icon
[nosignal.svg.zip](https://github.com/Esri/Trek2There/files/739971/nosignal.svg.zip)

[2017-01-31 04:35] defiantgoat commented on #25
Updated as of v 1.1.12

[2017-01-31 22:43] defiantgoat commented on #32
Available as of v 1.1.13

[2017-02-02 03:02] marikavertzonis opened #57 "Review contrast of colors used in 'night' mode"
The blue icons on the black background are hard to read on smaller devices. We need to review contrast in relation to accessibility.

[2017-02-02 03:14] marikavertzonis commented on #57
Referring to
https://www.w3.org/TR/WCAG/#visual-audio-contrast
 - Minimum contrast ratio is at least 4.5:1
 - Enhanced contrast ratio is at least 7:1
 - Its not clear what the difference/definition of minimum and enhanced is, but consider a ratio between 4.5 and 7 to 1.
 - Size matters. The ratios above are reduced when large scale text is used to 3:1 and 4.5:1 respectively.

This website demonstr

[2017-03-30 02:40] marikavertzonis commented on #56
tested with 1.1.14 on ios android and windows. consider as working as expected on iOS and Windows.

keeping the issue open specifically for android.

[2017-03-30 02:43] marikavertzonis commented on #55
new builds with 5.8 appear to fix this.
tested on iphone6 (ios 8.4) and can successfully copy and paste. As described in #56 you can copy and paste coordinates as either
 - individaul numbers
 - a string eg: `89.44454,-179.34343433`
 - json eg:
[code]

[2017-03-30 02:43] #55 closed

[2017-03-30 02:52] marikavertzonis commented on #25
tested on windows 10, ios 8.4 (iphone 6), ios 9.3 (iphone 5), android 6.0.1 (samsung s6), android 7 (nexus 6)
and see clearly disabled arrow.
![disabledarrow](https://cloud.githubusercontent.com/assets/5713624/24485423/1d206640-1550-11e7-95d3-aaa0c92b44e9.PNG)

[2017-03-30 02:52] #25 closed

[2017-03-30 03:32] marikavertzonis commented on #16
tested on tested on windows 10, ios 8.4 (iphone 6) and android 6.0.1 (samsung s6)
i can see the horizontal accuracy symbol on each device, and see it change. the symbol is quite small - but i think it standards out enough in the two blue color scheme. i could see it in bright sunlight and in shade. consider color change upon user feedback.

[2017-03-30 03:32] #16 closed

[2017-03-30 03:37] marikavertzonis commented on #3
Now that the location accuracy is shown (as of 1.1) it seems odd that i 'arrive' when i get within 20m of the location, even when my location is being reported with an accuracy of 5m.
If horizontal accuracy is available, we should refine our arrival logic to take it into account. Something like:

Show as 'arrived' IF (2 x Horizontal Accuracy) < 20m.

2 x horizontal accuracy would allow for the wor

[2017-03-30 03:42] marikavertzonis commented on #32
great icon - clear and obvious. tested on tested with 1.1.15 on windows 10, ios 8.4 (iphone 6), ios 9.3 (iphone5), android 6.0.1 (samsung s6), android 7 (nexus 6)
![contrast](https://cloud.githubusercontent.com/assets/5713624/24486604/b8b9fa5c-1556-11e7-8aba-95862108d73b.PNG)

[2017-03-30 03:42] #32 closed

[2017-03-30 03:45] marikavertzonis commented on #43
testing on more devices - android 7 (nexus 6), android 6.0.1 (samsung s6), ios 9.3 (iphone 6) and on these you can see the text gets cut of so you are 'encouraged' to touch and scroll. closing for now - scroll bars have presented problems of their own in other apps so the less UI here the better.

[2017-03-30 03:45] #43 closed

[2017-03-30 03:58] marikavertzonis commented on #2
tested on windows 10, ios 8.4 (iphone 6), ios 9.3 (iphone 5), android 6.0.1 (samsung s6), android 7 (nexus 6)
 - as of 1.1, both ios and android devices successfully return to the referring app.
 - on windows, a new instance of the referring app is launched. this is a known issue - can not be fixed until appstudio is modified to support a single instance mode for Windows and Linux apps https://dev

[2017-03-30 04:06] marikavertzonis commented on #53
tested with 1.1.15 on windows with narrator enabled.
some elements of the screen were narrated 'enter latitude' and 'enter longitude'. but other areas where narration was expected (eg: changing distance units from metric to imperial, back arrow) did not have narration.

**to users of accessibility tools** - please create new issues for each problem that you encounter when using trek to there with

[2017-03-30 04:06] #53 closed

[2017-03-30 05:45] marikavertzonis commented on #51
Closing this issue as a duplicate of #47. Some progress made but additional work to be documented in the other issue.

[2017-03-30 05:45] #51 closed

[2017-03-30 05:53] marikavertzonis commented on #47
- Tested across devices with the new ArcGIS Online features - there has been some improvement on some devices. In short - you can launch Trek2There on on Windows and Android - you cant automatically go back.
 - Tested on windows 10, ios 8.4 (iphone 6), ios 9.3 (iphone 5), android 6.0.1 (samsung s6), android 7 (nexus 6)
    - On Windows, successful can launch Trek2There from Collector using a popup

[2017-03-30 16:08] qhui-red commented on #25
Hi @marikavertzonis @defiantgoat , how about only showing the no signal icon?

[2017-04-04 02:14] marikavertzonis opened #58 "Release 1.1 checklist"
- [x] features complete
- [x] Testing complete
- [x] apps submitted to stores
- [x] app released in apple app store
- [x] app released in google play store
- [x] windows app available via public hockey app page
- [x] make app update available as sample in AppStudio
- [x] update marketplace listing
- [ ] geonet blog released

[2017-04-05 01:05] #58 closed

[2017-04-06 08:31] MartinLauenborg commented on #47
@IsmaelInRedlands
Do you or anyone else know if the popups has been enahnced with the oppotunity to dynamically use geometry in the March 2017 release?

always need to have in your Collector features the X,Y values as
attributes. Otherwise, you will not be able to pass the destination to
Trek2There dynamically. In March, tentatively, we will enhance Web Map
popups so the XY coordinates can be pull

[2017-04-13 19:52] TViveiros commented on #47
Hello...any idea when the issue launching Trek2There from Collector on iOS will be resolved?
Thanks.
Tony

[2017-04-19 13:50] Matronek opened #59 "Arrived too early"
I had a chance to use Trek2There with a Leica Zeno 20. The Zeno 20 has centimeter accuracy so I was going to try using Trek2There to find buried valve. If I got within 20ft it would say I arrived. Is there a way to make this app never arrive? The Zeno 20 has a program for staking out a point and the direction and distance are constantly changing as you get closer to the object. Trek2There could be

[2017-05-31 06:06] defiantgoat commented on #59
@Matronek Thanks for your feedback. This is certainly something we will be looking at as we enhance the application.

[2017-06-01 01:43] defiantgoat opened #60 "Migrate to QtQuick Controls 2.0"
Transition controls to Qt Quick 2.0

[2017-06-06 05:49] defiantgoat opened #61 "Implement HUD navigation"

[2017-06-16 05:44] marikavertzonis opened #62 "Release 2.0 checklist"
- [x] features complete
- [x] Testing complete
- [x] apps submitted to stores
- [x] app released in apple app store
- [x] app released in google play store
- [x] windows app available via public hockey app page
- [x] make app update available as sample in AppStudio
- [x] update release notes wiki
- [x] update marketplace listing
- [x] geonet blog released

[2017-06-22 01:03] defiantgoat commented on #59
Disabled arrival logic by speed and distance. For this version, the user should never receive the arrival message. If a request is made to re-implement arrival logic and arrival message, the logic can be finessed and re-introduced in a later version.

[2017-06-22 01:07] defiantgoat commented on #61
HUD navigation is now enabled in Trek2There. HUD becomes effective when the device is at 30 degrees approximately. The current logic uses GPS only location readings to provide bearing correction information (as it did in version 1). Experimental features can be enabled via the Settings view and will employ the compass for bearing correction at a walking pace and display a marker on the horizon of

[2017-06-22 01:08] defiantgoat commented on #60
All controls and views now use QtQuick Controls 2.0

[2017-06-22 01:08] #60 closed

[2017-06-22 01:12] defiantgoat commented on #3
See #59. Arrival logic has been disabled for version 2.0. However, this can be revisited and finessed if arrival logic is re-enabled in the app.

[2017-06-22 01:14] defiantgoat commented on #50
@gradzevicius Yes, this is definitely in the backlog to add to the application.

[2017-06-23 00:47] defiantgoat commented on #46
It has been reported that on some Android devices the 'period' key isn't available on the keyboard, so it isn't possible to add a decimal coordinate.

[2017-06-26 07:38] marikavertzonis commented on #59
tested with 2.0.287 to 2.0.301 on
 - iphone 6 and iphone 5
 - android sony xperia, samsung s6, trimble tdc

and i see that the arrival message never appears. this is quite fine - as I approach my destination the distance does get small(3-5m) and then as i move around and away from it, it grows. This is good. I can successfully click end to go back to my referring app.

[2017-06-26 07:38] #59 closed

[2017-06-26 08:01] marikavertzonis commented on #61
On windows surface book with 2.0.301 the camera view loads up with front facing camera. it needs to rear camera by default.

[2017-06-26 21:53] spatialdude opened #63 "Initial window size too small on hi-res desktops"
Windows size too small on Surface Book

Use this to fix -

[code]

[2017-06-27 00:04] defiantgoat commented on #63
@marikavertzonis This has been fixed with v 2.0.302

[2017-06-27 00:05] defiantgoat commented on #61
@marikavertzonis Rear camera selection is fixed with v 2.0.302.

[2017-06-28 01:29] marikavertzonis commented on #63
tested 2.0.302 on surface book (hi res) and surface pro (not as high res) - on both - the app occupies good proportion of the screen.

[2017-06-28 01:29] #63 closed

[2017-06-28 01:40] marikavertzonis commented on #61
Tested with builds 2.0.276 to 2.0.302 on
 - iphone 6, iphone 5, ipad air
 - android  sony xperia, samsung s6, trimble tdc 100, oppo f1s
 - windows surface book, surface pro
Holding device in portrait and landscape view:
 - Walking - NB: whilst walking its more natural to hold the device near horizontal keeping the app in the original display mode. As you approach the destination (or stop for a spo

[2017-06-28 01:40] #61 closed

[2017-06-30 01:00] #62 closed

[2017-08-16 16:30] pkrejci opened #65 "Improve Accuracy Navigation value (centimeters) towards destination point"
Hi,
our clients which are most common municipalities of our Company are using the Trek2There navigation to locate GPS measured positions via our WebGIS solution WebOffice [WebOffice & Trek2There](https://www.mysynergis.com/en/news/news/id/1448/) The users want to get the direct route via the Trek2There app to navigate to highly precision measured objects like waterworks valves etc. Therefore the c

[2017-08-25 09:29] phaedrusakadoctorf commented on #65
Hi Patrick and Defiantgoat,

I'm also looking forward for this feature.
Please keep me in the loop,

cheers

Frederik

[2018-01-23 02:50] marikavertzonis commented on #65
Its planned that the new GNSS receiver support coming in AppStudio 2.2 will be integrated in Trek2There to meet the objectives of this issue. To do:
- [ ] Add device browsing page for user to be able to select a connected GNSS receiver
- [ ] Add information page to show direct messages and or GNSS metadata from the receiver for user to be sure the expected accuracy's are being obtained

[2018-02-14 04:50] #38 closed

[2018-02-14 21:01] marikavertzonis commented on #41
duplicate issue of #25. the new graphic went in version 1.1.

[2018-02-14 21:01] #41 closed

[2018-02-15 02:44] spatialdude opened #66 "Release UWP version to Windows Store"
Release the UWP version of Trek2There to the Windows Store.

[2018-02-18 22:49] marikavertzonis opened #67 "Back arrow on setting page not working on windows, can not add a destination"
Was working previously, not now. Go to settings pages, enter a destination and attempt to go back to the main page. This failure to return only happens on Windows (and the new test builds of UWP).

You CAN still successfully launch T2T with a launch url that contains a destination. For testing, enter this into a browser: `arcgis-trek2there://?stop=-37.83, 144.96`

[2018-02-18 23:12] marikavertzonis commented on #50
see MyUSNG coordinate parser for this: `Coordinate.parse`

[2018-02-18 23:19] marikavertzonis opened #68 "Notify user of approaching destination when app is in background"

[2018-02-19 00:11] marikavertzonis commented on #46
planned changes for #50 will make this issue obsolete. Supporting the multiple coordinate formats means the data entry will be a string and therefore it will force the full keyboard.

[2018-02-27 23:31] marikavertzonis commented on #65
Design for device browsing and quality information now located at
https://esri.app.box.com/folder/47302135861

[2018-03-08 05:47] marikavertzonis commented on #67
tested with 3.0.2 on iphone 8, trimble tdc (android 6) and windows 10 (uwp32 and with windows x86) and can enter coords and return to main page.

[2018-03-08 05:47] #67 closed

[2018-03-09 02:54] shobanasuresh commented on #40
@marikavertzonis @dominikargast Above issue can be resolved by setting `appinfo.multipleInstances` to false in Trek2There.

Survey123 2.6+ builds already sets  `appinfo.multipleInstances` to false.  @marikavertzonis Can you please test with latest Survey123 2.7 Windows build?

[2018-03-09 02:55] dominikargast commented on #48
Refer to the following designs:
- https://esri.box.com/s/flogor93ghofkcytq6o2becq4a2eqe1r
- https://esri.app.box.com/file/280290192298

[2018-03-13 03:24] dominikargast commented on #40
@marikavertzonis test with build 3.03

[2018-03-13 04:25] marikavertzonis commented on #50
@gradzevicius - I know its been sometime since this request, but we are considering how this could be implemented. Your original request stops at asking for '...Meters'. Are you expecting that you would be selecting a projected coordinate system to work with, from a list? Would support for just WGS 84 Web Mercator (as an example) be enough?

[2018-03-13 22:01] marikavertzonis commented on #40
tested with both UWP and Windows x86 builds - UWP didn't have this issue prior to 3.0.3 - Windows x86 did. Now in 3.0.3 Windows x86 no longer launches an additional instance.
- If you already have a destination set (either manually on the setting page, or from a URL link), and launch with a new URL link (with different destination) the destination is changed to the new one (good)
- If you already

[2018-03-13 22:01] #40 closed

[2018-03-13 22:04] marikavertzonis opened #69 "Text on Windows is crowded at the bottom of the page"
Worse in the UWP build than classic Windows build - but both are crowded. Not an issue on iOS and Android.

**UWP:**
![uwptextrunsintobutton](https://user-images.githubusercontent.com/5713624/37372356-8f21eb8c-2766-11e8-82a0-10dd0a1a16e8.PNG)

**Windows x86:**
![windowstextrunsintobutton](https://user-images.githubusercontent.com/5713624/37372342-879ce3e4-2766-11e8-8c8b-123b0d43e0c1.PNG)

[2018-03-15 03:34] dominikargast commented on #48
@marikavertzonis please test with build 3.0.4

[2018-03-15 03:36] dominikargast commented on #69
@marikavertzonis this is related to #48 and may have been solved by rev
365c805. Please test with build 3.0.4

[2018-03-19 00:00] marikavertzonis commented on #48
tested build 3.0.4 with nexus 6p (android), iphone 8 (ios) and windows 10.
the text is very small, in particular when you turn the device to landscape (which is the default on desktop) there’s a lot of white space around the text. can we make the text block (distance, bearing and accuracy) much bigger to fill the space?

[2018-03-19 00:09] marikavertzonis commented on #69
tested 3.0.4 on windows 10 - the default is now the landscape mode so its not obvious - but if you turn the tablet to portrait mode its still crowded as above. also windows phone is still crowded as above.

[2018-03-19 04:19] dominikargast opened #70 "Video output is shown even if experimental features are not enabled"
Make sure "use experimental features" in the settings page is not checked. Holding the phone upright, the video output stream is shown briefly, before being faded out again. The location marker and VR arrow on green ground are not displayed.

[2018-03-20 04:01] marikavertzonis commented on #56
with the changes in appframework at version 3.0, on android, we now get the message box 'it looks like you copied coordinates....' but it is not displayed in full and the app extent changes to the size of the message. you can accept the values, they do appear in the settings dialog and you can go back to the full screen view - but the app always stays small (the size of the dialog box).
am testing

[2018-03-20 04:16] marikavertzonis commented on #2
as per https://github.com/Esri/Trek2There/issues/40 appinfo.multipleInstances is now false in trek2There and survey123.
I can launch trek2there from survey123, and go back to survey123 and send different coords and he same instance of trek2there relaunches with the new coords as expected.

[2018-03-20 04:16] #2 closed

[2018-03-20 23:25] dominikargast commented on #69
@marikavertzonis test with 3.0.5

[2018-03-20 23:35] dominikargast commented on #70
@marikavertzonis test with 3.0.5

[2018-03-21 01:02] marikavertzonis commented on #70
on 3.0.5 on iphone 8 and trimble tdc (android 6) i see strange behaviour with the camera. to consistently repro:
 - go to settings page and enable experimental mode
 - go back to main page, see that when you tilt the device you get the camera view as expected when vertical
 - go back to settings page and disable experimental mode
 - go back to main page, see that camera mode is always enabled.

NB

[2018-03-21 01:19] marikavertzonis commented on #69
tested build 3.0.5 on windows 10 (both UWPx86 and classic Windows build), and windows phone 10 and the spacing is now fixed / as expected

[2018-03-21 01:19] #69 closed

[2018-03-21 05:54] dominikargast commented on #70
@marikavertzonis test with 3.0.6

[2018-03-21 05:55] dominikargast commented on #56
@marikavertzonis test with 3.0.6

[2018-03-22 04:19] marikavertzonis commented on #56
testing with 3.0.6 works great on android :).

- windows phone - i get a full screen dialog with buttons that are missing the yes no text. if i click the one on the right, the copy does work. so odd ui, but working functionality.
- windows UWP on desktop - i get no dialog, can not copy paste.
- ios - no dialog.

this photo shows windows phone on left, android in middle and iphone on right.

![copy

[2018-03-22 04:43] marikavertzonis commented on #70
with 3.0.6 on
- iphone 8 (ios 11.2.5)
- trimble tdc100 (android 6)
- nexus 7 (android 7)
- windows 10 with classic x86 installer

very smooth transitions between horizontal (standard arrow view) and vertical (camera view) holding position of the device/app.

windows phone and windows desktop using UWP build - i get no camera view when in experimental mode. changing this issue to be specifically fo

[2018-03-23 04:38] dominikargast commented on #46
@marikavertzonis test with 3.0.7

[2018-03-23 04:39] dominikargast commented on #50
@marikavertzonis test with 3.0.7

[2018-03-23 06:08] dominikargast commented on #56
@marikavertzonis test with 3.0.8

[2018-03-27 05:07] marikavertzonis commented on #56
3.0.8 on windows phone 10, windows desktop 10, iphone 6 (ios 10.3.3), trimble tdc (android 6) now i see the same copy paste dialog on all devices and can successfully paste latitude and longitude in decimal coordinates.

nb: only latitude and longitude in decimal coordinates can be copy and pasted - #50 does introduce support for different coord systems. the finer detail of copy paste with differe

[2018-03-27 05:07] #56 closed

[2018-03-27 05:24] marikavertzonis commented on #50
testing with 3.0.8 on windows phone 10, windows desktop 10, iphone 6 (ios 10.3.3), trimble tdc (android 6)
 - when you manually enter coordinates in one format, then switch to another, they appear as expected (good)
 - when you copy / paste coordinates (see #56), the contents of the fields are not updated until you switch format (bad)
 - when you delete coordinates in one format, then switch to an

[2018-03-27 05:26] marikavertzonis commented on #46
tested 3.0.8 on windows phone 10, windows desktop 10, iphone 6 (ios 10.3.3), trimble tdc (android 6) and in all coordinate format choices i see the full keyboard - and can get access to - and .

[2018-03-27 05:26] #46 closed

[2018-04-04 03:54] marikavertzonis commented on #50
testing with 3.0.9 on ios and windows, retesting the elements of the previous comment
 - when you manually enter coordinates in one format, then switch to another, they appear as expected (good)
 - when you copy / paste coordinates, the contents of the fields are updated (good!)
 - when you delete coordinates in one format, then switch to another format, the previous coordinates are returned (same

[2018-04-24 05:27] marikavertzonis opened #71 "Add Trek2There to the WhiteList of GNSS receiver vendors"
Emails have been sent today to Bad Elf and Eos. Once response received, protocol strings need to be added to Trek2There as per
http://doc.arcgis.com/en/appstudio/api-guide/apihighaccuracygps.htm#ESRI_SECTION1_1920DD90D17248DE93E90D9164D36344

[2018-05-01 05:05] marikavertzonis commented on #71
Responses received from both Bad Elf and Eos, good to add the protocol strings to the app.

[2018-05-02 00:02] dominikargast commented on #71
@marikavertzonis please test with 3.0.14

[2018-05-02 00:58] marikavertzonis opened #72 "Coordinates sent from another app no longer populate the destination"
I have the following in an old Survey123 survey,
<a href="arcgis-trek2there://?stop=-37.827627, 144.966222&callbackprompt=Survey123&callback=arcgis-survey123://">IGA</a>
and although it launches Trek2There the destination is no longer automatically populated. This worked in previous release.

you can also simulate this by copying the following into a web browser
arcgis-trek2there://?stop=-37.82762

[2018-05-03 02:11] marikavertzonis opened #73 "Automatically reconnect to external GPS on start up on iOS"
If an external receiver has been previously connected in Trek2There, when i restart the app, it should automatically connect. Testing with build 3.0.14, it does so on Mac, Windows and Android but not on iOS
On start up on iOS - no device is listed on the settings page, and _use built in location sensor_ is selected instead of _use external receiver_. Same observed on the iphone 6 (iOS 10.3.3) and

[2018-05-03 02:26] marikavertzonis opened #74 "When external GPS connection lost, and returns, auto reconnect"
There are two scenarios where this can readily be observed:

1) **Manual switch between _use external receiver_ and _use built-in location sensor_ on the settings page.**
    - Start by choosing _use external receiver_  and select a receiver on the discovery page. once successful, see that the receiver is listed under the _use external receiver_ checkbox.
![image](https://user-images.githubusercon

[2018-05-03 05:43] dominikargast commented on #65
@marikavertzonis test with 3.0.15

[2018-05-04 02:05] dominikargast commented on #73
This also affects Android. When the app is closed, the gps device is disconnected, which changes the connection type to "internal". This is stored in the settings before exiting the app.

On reopening the app, the "internal" connection type is read from the settings.

On Mac and probably Windows and Linux, the app is exited before the updated connection type is written do disk.

[2018-05-04 03:46] marikavertzonis opened #75 "Add an indicator to the main page to show whether you are using external GNSS or not"
After testing with early 3.0 builds its clear that we need an indicator to show whether your using external receiver the built-in location sensor.
Even if you have selected _use external receiver_ the external receiver may physically turn off - then you will be automatically returned to using the built-in location sensor.

We also considered identifying whether experimental mode was enabled and th

[2018-05-04 06:38] dominikargast commented on #74
@marikavertzonis test with build 3.16

[2018-05-04 06:39] dominikargast commented on #75
@marikavertzonis test with build 3.16

[2018-05-04 06:40] dominikargast commented on #73
@marikavertzonis test with build 3.16

[2018-05-04 06:45] dominikargast commented on #72
Related to #50

[2018-05-07 00:05] marikavertzonis opened #76 "Text on the select external receiver page is too small on some devices"
Issue observed on
 - Windows Surface book
 - Nexus 6, trimble tdc100 (Android)

but not on iphone8. see images below

![image](https://user-images.githubusercontent.com/5713624/39679033-fdd23ec6-51da-11e8-827c-7fa6d3fda949.png)

![small text](https://user-images.githubusercontent.com/5713624/39679277-25f001f6-51de-11e8-8212-9b153a302c70.jpg)

[2018-05-07 03:05] dominikargast commented on #72
@marikavertzonis test with build 3.0.17

[2018-05-07 03:07] dominikargast commented on #74
@marikavertzonis test with build 3.0.17 - T2T should now attempt to connect to external device as soon as the navigation page is displayed

[2018-05-07 03:39] marikavertzonis commented on #73
tested with 3.1.17 on
 - trimble tdc 100, nexus 6, pixel 2 (android)
 - iphone6 and iphone 8

and all reconnect on startup up to a previously connected external receiver (and show the gps icon on the navigation page).

also if you go to the settings page, switch to use built in location sensor and then switch back to user external receiver, they all successfully reconnect.

[2018-05-07 03:39] #73 closed

[2018-05-07 04:01] marikavertzonis commented on #65
tested with 3.0.17 on android, ios and windows. the new external device selection is in place, and now when i use a high precision device, i see up to 2 decimal places in the accuracy reported. tested with eos arrow, bad elf pro+ (both give result to 2 decimal places), and the bad elf pro, emtac bt gps and internal position source (give result to 0 decimal places.

[2018-05-07 04:01] #65 closed

[2018-05-07 04:03] marikavertzonis commented on #74
as per https://github.com/Esri/Trek2There/issues/73#issuecomment-386949257 tested with 3.1.17 on
 - trimble tdc 100, nexus 6, pixel 2 (android)
 - iphone6 and iphone 8

connect to external receiver, switch to use built in location sensor and then switch back to user external receiver, they all successfully reconnect.

[2018-05-07 04:03] #74 closed

[2018-05-07 04:16] marikavertzonis opened #77 "Prevent nonsense accuracies from being shown on the navigation page"
The accuracy shown in this screenshot is not useful. It might supposed to be indicating a poor or false accuracy, but it will be better to show no accuracy than this number.
This was found on build 3.0.17

![garbage accuracy](https://user-images.githubusercontent.com/5713624/39684674-df2caa1c-5200-11e8-9276-6ad0bcb126d1.jpg)

[2018-05-07 04:31] marikavertzonis commented on #72
tested with 3.0.17 on
 - windows desktop (from survey123 and from a web browser)
 - android - nexus 6, pixel 2, rimble tdc 100
 - ios - iphone6, iphone8
and can successfully launch T2T navigation page with coordinates (note they must be decimal degrees).

[2018-05-07 04:31] #72 closed

[2018-05-07 04:39] dominikargast commented on #77
@marikavertzonis test with 3.0.18

[2018-05-07 05:25] marikavertzonis opened #78 "UWP app continues to offer me bluetooth connection suggestions that I dont want"
We have a lot of bluetooth devices in our surrounds, but on my windows desktop machine, I have specifically paired with the devices that i want to connect to in Trek2There. When i launch the UWP version of Trek2There, Windows pops up a screen for each device asking if i want to pair with it.
This doesn't happen on the classic windows build of Trek2There. Am using and comparing builds 3.0.17.

[2018-05-07 05:30] marikavertzonis commented on #78
After cancelling each of the messages, and restarting the app, i found they didn't return. Restarting Windows then restarting the app, DID bring the messages back.
![image](https://user-images.githubusercontent.com/5713624/39686259-5ab04b9e-520b-11e8-9b80-fc0af363380c.png)

[2018-05-07 05:32] marikavertzonis commented on #75
testing with 3.0.17 on windows desktop, android and iOS and i see the satellite icon as described above. when the external receiver is physically turned off, i see the icon go away, and then after its turned back on, after a short time the icon is back.

[2018-05-07 05:32] #75 closed

[2018-05-07 05:43] marikavertzonis commented on #70
tested again in 3.0.17 and still same for UWP on windows phone and desktop - no camera view (but at lest no crash).

[2018-05-07 05:49] marikavertzonis opened #79 "Camera view not displayed on UWP"
This issue is split off from #70 , tested with 3.0.17

The app doesn't crash but no camera view displays when you tilt the device. Tested on Windows Phone 10 and Windows Desktop 10.

[2018-05-07 05:51] #70 closed

[2018-05-07 06:01] marikavertzonis commented on #77
tested 3.0.18 with same receiver (emtac bt gps) and the trimble tdc and i see no more extra large numbers.

[2018-05-07 06:01] #77 closed

[2018-05-08 00:46] dominikargast opened #80 "Cannot change device if connection fails"
If connection to an external device fails (e.g. if the device does not accept any more connections), an error message is shown and the "internal" radio button is selected. Dismissing the error message and selecting the "external" radio button leads to a new connection attempt, which fails again. In this situation, it is impossible to choose another device, see screenshot below.

<img width="483" a

[2018-05-10 06:10] dominikargast opened #81 "Trek2There reports position information of both internal and external sources simultaneously"
If the PositionSource component is initialised without a specific NmeaSource set, it will use the default position source available on the platform. After connecting to an external GPS by setting the nmeaSource property, the expectation is that only position information from the external device are reported.

This is not true. Position information from the external device AND the default position

[2018-05-10 06:13] dominikargast commented on #81
The root cause is https://devtopia.esri.com/Melbourne/appstudio-framework/issues/555

[2018-05-11 05:47] marikavertzonis opened #82 "Allow the user to set arrival threshold"
Now that high precision GNSS receivers are supported (as per #65), the ability for the user to set the arrival threshold is more important.
Consider this a refinement of #3. Some examples are:
 - If a user has a receiver that as an accuracy of 1m, and they are searching for a manhole in an open field - an arrival threshold of 1m is a reasonable expectation.
 - if a user in a city environement, usi

[2018-05-11 06:43] marikavertzonis opened #83 "Clipboard not working on UWP"
- Similar to the issue observed in Tile Package Kreator https://github.com/Esri/TilePackageKreator/issues/73
- Parent issue in framework https://devtopia.esri.com/Melbourne/appstudio-framework/issues/292
- to repro in Trek2There, copy either of the following to the clipboard whilst Trek2There is open. If you have the Windows Classic build installed you will get a dialog box asking if you want to p

[2018-05-14 00:38] marikavertzonis commented on #31
This issue is specific to experimental mode, and requires more research, moving out of 3.0 release.

[2018-05-15 02:55] marikavertzonis commented on #35
marking this issue as resolved, likely as a consequence of other changes (not specific changes made for this)
- testing T2T 3.0.17 on iphone 8, android 6 (trimble tdc100), windows desktop, and i see the navigation commence in seconds not minutes.
- when an external receiver is configured its even better - almost instant. this is particularly better on android. when using the devices internal posit

[2018-05-15 02:55] #35 closed

[2018-05-15 02:57] marikavertzonis commented on #48
closing this issue for release 3.0. the bearing is now present, and the question about the size is aesthetic. lets get it out in the wild and see how it works. please refrain from reopening this issue to do with how the bearing looks, and instead create a new issue.

[2018-05-15 02:57] #48 closed

[2018-05-18 00:17] marikavertzonis commented on #68
can not be implemented with the current appstudio design - see https://devtopia.esri.com/Melbourne/appstudio-framework/issues/563

[2018-05-21 05:36] marikavertzonis opened #84 "Crash on startup on iOS"
Currently believe this crash is related to
https://devtopia.esri.com/Melbourne/appstudio-framework/issues/566
latest version with the crash is 3.0.18 using framework 3.1.24

[2018-05-22 01:21] marikavertzonis opened #85 "Deleting coordinates in one format, doesn't delete coordinate in another format"
split off from #50.
when you delete coordinates in one format, then switch to another format, the previous coordinates are returned (same as in previous testing). based on the behavior in the last point (ie: 'paste' effectively pastes over the content of all forms of the coordinates), then i would expect that delete to also delete all forms of the coordinates.

[2018-05-22 01:39] marikavertzonis commented on #82
accuracy threshold should go in the settings section called destination (under longitude) - not a new section of its own - and display the units that are selected below it eg: (m) or (ft) to be clear that even when degrees are used for the coordinates the accuracy will always be entered / shown in m or ft.

![accuracythreshold](https://user-images.githubusercontent.com/5713624/40337725-8708dc06-5d

[2018-05-22 01:43] marikavertzonis commented on #71
i can see the expected strings in teh app settings, but can not test until app in ios store. test flight is fine too - awaiting resolution to #84 before this

[2018-05-24 05:47] dominikargast commented on #76
@marikavertzonis tests with build 3.0.23

[2018-05-24 05:51] dominikargast commented on #84
@marikavertzonis please test with AppFramework 3.1.33

[2018-05-24 06:01] dominikargast commented on #52
This does not seem to be an issue anymore. Configurable parameters are stored in app settings. Closing this for now. May reopen if necessary.

[2018-05-24 06:01] #52 closed

[2018-05-24 20:20] IsmaelInRedlands commented on #84
Tested Trek2There 3.0.23 with Framework 3.1.33
Crash on startup cannot be reproduced anymore on iPhone 8 iOS 11.3.1

[2018-05-25 00:44] marikavertzonis commented on #82
change accuracy threshold to arrival threshold in the above screenshot (my typo)

[2018-05-25 01:32] marikavertzonis opened #86 "Filter the list in select a device to only show Type 0 devices"
Currently bluetooth LE devices are showing up in the select a device list on Android (not on iOS or Windows) - which means I'm seeing the TV and other devices that dont make sense in this app. By design this also the case on UWP, Linux and Mac.

This device list should be filtered to only show the classic bluetooth devices (these are type 0).
Its also expected that only paired devices are shown. N

[2018-05-25 01:42] marikavertzonis opened #87 "unexpected 'Connected to unknown' message on settings page of iOS"
This is a new issue - since build 33 - the changing of the **icon on navigation page**, the **text on the settings page** and the **selected device on the search page** do not match.

To repro:
 - select a device on the search page
 - go back to the settings page - see 'Connected to unknown'
 - go back to the navigation page, the satellite icon appears
 - go back to the settings page - see that it

[2018-05-25 01:54] marikavertzonis commented on #84
I confirm the above, Trek2There 3.0.23 with Framework 3.1.33 didn't crash on our iphone 5, iphone 8, iphone x, ipad air. (also still good on android and windows)

[2018-05-25 01:54] #84 closed

[2018-05-25 02:05] marikavertzonis commented on #87
its possible this is not just iOS...
doesn't occur on my windows 10 desktop, nor trimble tdc (android 6) and pixel 2 (android 8) - BUT it does on the sony xperia (android 7.1.1).

[2018-05-25 02:10] marikavertzonis commented on #81
assuming the symptom of this was the continuous flickering between external and internal position sources on android which meant the rapid appearance and disappearance of the 'start moving...' message then this is fixed :). tested on
 - trimble tdc (android 6)
 - pixel 2 (android 8)
 - sony xperia (android 7)
 - iphone x (ios 11.2.6)
 - iphone 8 (ios 11.3.1)
 - windows 10 desktop

[2018-05-25 02:10] #81 closed

[2018-05-25 02:19] marikavertzonis commented on #76
tested with app 3.0.23 (built on framework 3.1.33)
and see the text sizes are now consistent on the page

![image](https://user-images.githubusercontent.com/5713624/40522601-139460c0-6015-11e8-86bb-022f07a17faf.png)

confirmed on
 - windows desktop 10 surface book (image above)
 - trimble tdc 100 and nexus 6 (from the original picture
 - also asus zenpad, pixel 2, iphone 8 and x

[2018-05-25 02:19] #76 closed

[2018-05-25 02:54] marikavertzonis commented on #80
testing with app build 3.0.23
 - seems this unable to connect message only appears on **android**. i see it on the trimble tdc, sony, pixel 2 and when i dismiss it i can now select another receiver (which is the point of this issue).
 - i haven't been able to replicate this behavior on **ios**. on ios you only see he devices that are successfully paired and connected (which weeds out the chance of

[2018-05-29 01:40] dominikargast commented on #86
T2T and GNSS Info filter out Bluetooth LE devices in the displayed devices list. For instance, the device discovery agent finds the following devices (tested on a Mac):

qml: Device discovered - Name: [TV] Samsung 6 Series (55) Type: 0
qml: Device discovered - Name: Bad Elf GPS #001737 Type: 0
qml: Device discovered - Name: DevMac3 Type: 0

qml: Device discovered - Name: [TV] UA85JU7000 Type: 2
qm

[2018-05-29 01:52] nandinirao commented on #86
Yes, if they are, Bluetooth Smart devices, they can offer both LE and classic connectivity.

Sent from my iPhone

On May 28, 2018, at 6:40 PM, Dominik Argast <notifications@github.com<mailto:notifications@github.com>> wrote:

T2T and GNSS Info filter out Bluetooth LE devices in the displayed devices list. For instance, the device discovery agent finds the following devices (tested on a Mac):

qml:

[2018-05-29 04:44] dominikargast commented on #87
@marikavertzonis test with 3.0.24

[2018-05-29 04:48] dominikargast commented on #80
@marikavertzonis please create a new issue for the windows/uwp case and close this one if verified. The windows/uwp issues are crashes that are not related to this issue.

[2018-05-29 06:14] marikavertzonis commented on #87
testing with 3.0.24 on iphone 5 and X and i can successfully switch between the three pages and the expected device remains displayed and no unexpected switching to built-in location sensor.
If i forcefully switch to built-in location sensor and then go back to external, it promptly reconnects to my last connected external device.

[2018-05-29 06:14] #87 closed

[2018-05-29 06:23] marikavertzonis opened #88 "App crashes when can not connect to a receiver on Windows"
Split off from #80, testing with app build 3.0.23. if you attempt to connect to a receiver and cant
 - on **windows** the app 'locks up' and has the message of 'not responding'. theres no dialog to dismiss and you cant just choose another device. the only thing to do is close the app.
 - on **uwp**, after saying no to all the pairing requests, the app crashes

[2018-05-30 06:39] dominikargast commented on #31
@marikavertzonis test with build 3.0.25

[2018-05-30 06:40] dominikargast commented on #3
Rev e10da17 should have been assigned to #31

[2018-05-30 06:41] dominikargast commented on #31
Rev e10da17 should have been assigned to #31

[2018-05-31 00:33] dominikargast commented on #86
@marikavertzonis test with build 3.0.26

[2018-05-31 01:35] dominikargast commented on #3
@marikavertzonis I've reinstated arrival logic based on GPS accuracy. The current scheme is very simple and most likely needs to be improved. Feedback from real world usage is required.

Test with build 3.0.27

[2018-05-31 04:05] IsmaelInRedlands commented on #3
Tested 3.0.27 today on iOS while riding a bicycle.
Two issues:
* App believes destination has been reached while still away from it (too early).
* App leans up the destination set on arrival.
The video below shows the test. My destination was my red car. The app thought I had arrived when I was still about 100 meters away from the car.
Tested with built-in location (no GNSS receiver) but with a re

[2018-05-31 18:21] IsmaelInRedlands commented on #3
Two new tests on 3.0.27
While driving:
* App thought I was at destination around 500m before I arrived.
While walking:
* Reasonable (for the precision of the built-in GPS on iPhone).  See video: https://www.youtube.com/watch?v=9Aw7SiG2ufg

Some thoughts:
* From the tests above it looks like the speed matters: Walking is reasonable, Bicyle arrives 100m before destination and by car 500m before dest

[2018-06-01 06:26] dominikargast commented on #3
@marikavertzonis @IsmaelInRedlands Arrival logic has been improved. Please test with build 3.0.28

[2018-06-04 06:19] marikavertzonis commented on #82
with the improvement of arrival mathematics in #3, removing this issue from the 3.0 milestone, but keeping it for future consideration.

[2018-06-04 06:46] marikavertzonis commented on #3
Testing with 3.0.28 on ios (with external gps) and 3.0.29 on android (with internal position source). At walking pace, i 'Arrive' at a distance that corresponds with my accuracy (very nice). More testing tbc.

[2018-06-04 15:53] IsmaelInRedlands commented on #3
3.0.28 Built-in GPS on iPhone. 2 Tests with car. Looking good.
* https://www.youtube.com/watch?v=qWaxaied8ak
* https://www.youtube.com/watch?v=r0cuJl-Xg9E
1 test walking. Looks good.
* https://www.youtube.com/watch?v=KaOWoPvSOdI

[2018-06-05 03:29] dominikargast commented on #45
@marikavertzonis With the recent changes to #3 this issue should have been resolved. Please test.

[2018-06-05 03:34] dominikargast opened #89 "Augmented reality view is shown at app start"
Augmented reality view is shown at app start even if it is not enabled in the settings. This only affects iOS.

[2018-06-05 03:41] dominikargast opened #90 "Inform the user that the compass is being used"
Due to uncertainties in determining the compass direction (bad calibration, noisy readouts, unknown magnetic declination) the user should be informed if the compass is in use, compared to the direction of travel from the GPS.

This is only an issue if the compass is activated in the experimental settings.

Suggested is to put a small icon, e.g. a compass needle, next to the icon showing connection

[2018-06-05 03:48] dominikargast opened #91 "HUD display issues"
There are a couple of display issues in HUD (augmented reality) mode:

- The destination pin sometimes is not visible, even though it should be. This happens mostly when the user is moving and the direction of travel is determined by the GPS.
- The destination pin does not align with the arrow indicating the direction of travel.
- In landscape mode, the arrow and destination pin only take up half

[2018-06-05 03:52] dominikargast commented on #89
@marikavertzonis test with build 3.0.30

[2018-06-06 06:49] dominikargast commented on #3
@marikavertzonis @IsmaelInRedlands I've added some tweaks to the arrival logic:
- A status message should appear if you reach your destination within the next 30 seconds at the current speed.
- If you've arrived and start to move away from your destination again, guidance will resume.
- If the compass is in use, a compass icon will appear in the top left corner (see #90).

Please test with build 3

[2018-06-07 03:47] dominikargast opened #92 "Remember last destination"
As per request from @IsmaelInRedlands:

Remember the coordinates of the last destination used so that they are not lost when exiting the app.

[2018-06-07 04:11] dominikargast commented on #92
@marikavertzonis @IsmaelInRedlands Last destination coordinates should now be saved. Please test with build 3.0.32

[2018-06-07 06:33] dominikargast commented on #88
@marikavertzonis I could not reproduce this issue on windows or uwp. Please retest and/or provide specific instructions on how to reproduce this issue.

[2018-06-08 00:53] marikavertzonis commented on #88
testing with 3.0.31 with both uwp and windows builds, and i think the crash appears to be when you try to connect to a different external device when your already connected to another. on uwp the app shuts down, on windows you get the 'not responding' app message.

[2018-06-08 01:57] marikavertzonis commented on #89
- tested with 3.0.31 on iphone 6, iphone 8, iphone x and ipad air 2 and the aug rel view no longer appears on startup.
- switching the aug rel on, enables it as expected (and disable also works as expected).
- also confirm that no unexpected change has happened on android with these changes - tested on pixel2, sony xperia and asus zenfone.

[2018-06-08 01:57] #89 closed

[2018-06-08 03:15] marikavertzonis commented on #86
tested 3.0.31 on the following devices and successfully only see paired devices on the discovery page. successfully changed between paired devices and connected to them.
 - Samsung S6 Android 6.0.1
 - Google Pixel 2 Android 8.1
 - Asus ZenFone AR Android 7.0
 - Sony Xperia Android 7.1.1
 - Nexus 6P Android 8.0

also confirmed that with 3.0.31 behavior hasn't changed on iOS - still see only paired

[2018-06-08 03:15] #86 closed

[2018-06-08 04:25] #3 closed, assigned to marikavertzonis

[2018-06-08 04:45] marikavertzonis commented on #31
- this has significantly improved with recent updates. tested 3.0.32 on ios and android, and when using the compass experimental mode, you see the arrow move more like a mechanical compass (ie: it does jiggle a little but is subtle).
- the compass indicator is visible when you stop moving, then when you start walking it goes (this is good).
- tested on Sony Xperia Android 7.1.1, Asus ZenFone AR An

[2018-06-08 04:45] #31 closed

[2018-06-08 04:47] marikavertzonis commented on #90
- tested 3.0.32 on ios and android, and when using the compass experimental mode, you see the arrow move more like a mechanical compass (ie: it does jiggle a little but is subtle).
- the compass indicator is visible when you stop moving, then when you start walking it goes (this is good).
- tested on Sony Xperia Android 7.1.1, Asus ZenFone AR Android 7.0, Samsung S6 Android 6.0.1, iPhone X iOS 11.

[2018-06-08 04:47] #90 closed

[2018-06-08 04:57] marikavertzonis commented on #45
with 3.0.32 am seeing a consistent behavior on these (quite different) 4 android devices:
 - Google Pixel 2 Android 8.1
 - Samsung S6 Android 6.0.1
 - Sony Xperia Android 7.1.1
 - Asus ZenFone AR Android 7.0

when compass mode is enabled, you immediately get an arrow and no 'start moving' message. when compass mode is not enabled, you do get the immediate 'start moving'. the original issue is not

[2018-06-08 04:58] #45 closed

[2018-06-08 05:12] marikavertzonis commented on #92
tested with 3.0.32 on Samsung S6 Android 6.0.1, Google Pixel 2 Android 8.1, Sony Xperia Android 7.1.1, iphone X and when you arrive, the destination is kept. this is consistent with the behavior observed whilst testing the arrival maths in #3. after you arrive, the coordinates are still preserved, because as you then walk away from it, the approaching messages are shown (with the expected increasi

[2018-06-08 05:12] #92 closed

[2018-06-08 22:58] siddeshpillai commented on #83
@marikavertzonis
I can reproduce this error. But this can be handled in the app due to the nature of UWP.

Ref: https://github.com/ArcGIS/MyUSNG/issues/15#issuecomment-395583510

Adding the following in **Trek2There.qml** solves the issue on my UWP app. And I see the dialog

![image](https://user-images.githubusercontent.com/4101783/41184366-b53fa1a8-6b34-11e8-9618-c28fe5a2e971.png)

[code]

@defi

[2018-06-12 00:36] marikavertzonis commented on #83
@dominikargast - can you please try this and see if this is a viable option for T2T?

[2018-06-12 01:22] dominikargast opened #93 "Remember DeviceDiscoveryAgent settings"
The "detect bluetooth" and "detect USB/COM" settings of the DeviceDiscoveryAgent should be remembered from one session to the next.

In addition, sort the list of detected devices so that bluetooth devices stay on top of the list. Presently, COM port detection is almost instantaneous, whereas bluetooth detection takes some time, resulting in the bluetooth devices being added to the end of the list

[2018-06-12 01:27] dominikargast commented on #93
@marikavertzonis please test with build 3.0.33

[2018-06-12 06:30] marikavertzonis commented on #93
to started, tested on linux with AppStudio 3.0.50 and Trek2There 3.0.33. Connected to USB GPS,closed the app, reopened the app, and the USB connection was remembered.

[2018-06-13 05:36] dominikargast commented on #83
@marikavertzonis test with build 3.0.34

[2018-06-14 01:29] marikavertzonis commented on #83
with 3.0.34 clipboard now working the same on uwp and windows.

note that when you change focus from T2T to another app and then return to T2T, the paste message will appear again with the previously offered coordinates. this this was observed on windows, uwp and mac, and is annoying. its expected that you should only see this offering after you have copied coordinates ready for pasting.

[2018-06-14 01:33] dominikargast commented on #83
@marikavertzonis test with 3.0.35

[2018-06-14 03:37] marikavertzonis commented on #83
with 3.0.35 windows and uwp both show the paste dialog when expected, and once you've pasted (or said no in the dialog dismissing the value) you dont get the prompt again (until you next copy something to clipboard).

[2018-06-14 03:37] #83 closed

[2018-06-14 07:34] marikavertzonis commented on #93
further testing with 3.0.35 (appframework 3.1.52)
 - windows and mac - successfully connect to USB GPS, close app, reopen app, USB connection remembered
 - uwp - known issue with not being able to connect to USB GPS in UWP - https://devtopia.esri.com/Melbourne/appstudio-framework/issues/475

[2018-06-14 07:34] #93 closed

[2018-06-15 00:32] marikavertzonis opened #94 "Release 3.0 checklist"
- [ ] features complete
- [ ] Testing complete
- [ ] apps **submitted** to stores
       - [ ] windows uwp
       - [ ] apple store
       - [ ] google play store
- [ ] app **released** in stores
       - [ ] windows uwp
       - [ ] apple store
       - [ ] google play store
- [ ] windows desktop app available via public hockey app page
- [ ] make app update available as sample in AppStudio
- [ ]

[2018-06-15 01:13] dominikargast commented on #88
Corresponding AppFramework issue: https://devtopia.esri.com/Melbourne/appstudio-framework/issues/608

[2018-06-15 01:18] marikavertzonis commented on #71
An early adopter has been unsuccessfully trying to connect to a Trimble R2 on iOS. Whitelisting from Trimble requires additional information - refer to discussion here https://devtopia.esri.com/Melbourne/Survey123/issues/421#issuecomment-895476
The Trimble R2 does successfully work with Trek2There on Android.

[2018-06-15 01:40] marikavertzonis opened #95 "Add Trek2There to the whitelist of Trimble"
An early adopter has been unsuccessfully trying to connect to a Trimble R2 on iOS. Whitelisting from Trimble requires additional information - refer to discussion here https://devtopia.esri.com/Melbourne/Survey123/issues/421#issuecomment-895476
The Trimble R2 does successfully work with Trek2There on Android.

[2018-06-15 01:42] dominikargast opened #96 "Error dialog issues"
Corresponding AppFramework issue: https://devtopia.esri.com/Melbourne/appstudio-framework/issues/604

In addition, make sure that long error messages are wrapped correctly.

[2018-06-15 01:44] marikavertzonis commented on #71
With Trek2There now in TestFlight, i have download via this platform and can successfully connect to the Bad Elf and Eos devices.

An early adopter has been unsuccessfully trying to connect to a Trimble R2 on iOS. Whitelisting from Trimble requires additional information - refer to discussion here https://devtopia.esri.com/Melbourne/Survey123/issues/421#issuecomment-895476

Am closing this current

[2018-06-15 01:44] #71 closed

[2018-06-15 02:03] dominikargast commented on #96
@marikavertzonis test with AppFramework 3.1.54 and Trek2There 3.0.36

[2018-06-19 01:26] dominikargast opened #97 "Collect all GNSS components in one directory"
Create a directory that holds everything related to our handling of GNSS devices so that this functionality can easily be incorporated in other apps.

[2018-06-20 05:44] anshuman-mathur commented on #88
Tested Trek2There 3.0.36 Beta from HockeyApp which is built on AppFramework 3.1.58.

- Windows classic app: Trek2There connects to a bluetooth GPS device successfully. However, when we try to change the device and connect to a different bluetooth GPS device, the app becomes non responsive and the title shows 'Not Responding'.

- Windows UWP app: The app does not finish connecting to the bluetooth

[2018-06-20 06:05] anshuman-mathur commented on #96
Tested Trek2There 3.0.36 Beta from HockeyApp which is built on AppFramework 3.1.58.

- Windows classic app: The following message is displayed when Trek2There cannot connect to a device. The error message is more meaningful and describes the reason why connection failed instead of displaying an error code.
![image](https://user-images.githubusercontent.com/22040375/41640083-c849f60e-74a3-11e8-89d8

[2018-06-24 06:54] IsmaelInRedlands commented on #94
@JohnHasthorpe  We also support USNG.  Pretty important for Search and Rescue teams. http://napsg.maps.arcgis.com/apps/MapSeries/index.html?appid=4914d6e6e47041e098c093701ff2e50e

[2018-06-24 06:56] IsmaelInRedlands commented on #94
[T2T.docx](https://github.com/Esri/Trek2There/files/2130544/T2T.docx)
Attaching blog draft from Marika

[2018-06-24 06:57] IsmaelInRedlands commented on #94
Blog post to be posted here: https://community.esri.com/community/esri-labs

[2018-06-24 08:29] JohnHasthorpe commented on #94
@IsmaelInRedlands - Thanks, very helpful.
What's new updated based on doc. USNG added.

[2018-06-24 17:01] marikavertzonis commented on #94
Oh gosh so sorry about box link,  I musn't have shared it.  I just tried and I can't log into box on my phone cause I don't have the authentication set up.
From memory,  your list looks good.
I also think this will the last emails I get,  I'm getting mail box full messages.
Yasou

From: John Hasthorpe
Sent: Sunday 24 June 8:25 am
Subject: Re: [Esri/Trek2There] Release 3.0 checklist (#94)
To: Esri/

[2018-06-25 11:37] JohnHasthorpe commented on #88
@anshuman-mathur - I could replicate the Windows issue, but not UWP. I was able to connect to a Bluetooth device without issues.

[2018-07-03 02:22] JohnHasthorpe commented on #94
@marikavertzonis Just to summarise where we are:
- The released version for iOS, Android and Windows was 3.0.36 (builds are currently suspended)
- The version given to Rex was 3.0.37 (as some changes were required for UWP store readiness). This is not in the store yet.

We will update the store versions with 3.0.37 post-UC as we don't want to delay things now.

- I have emailed Alan C about the Ma

[2018-07-06 17:13] JohnHasthorpe commented on #66
Submitted to Rex. In progress

[2018-07-12 00:05] marikavertzonis commented on #94
- marketplace listing has been updated
- the windows link in the marketplace currently goes to hockeyapp - was pointing to version 1.0.55, now points to version 3.0.36
- windows store item is live
    - https://www.microsoft.com/en-au/p/trek2there/9n9nlvh74l5k?activetab=pivot%3Aoverviewtab
    - i successfully installed from store on windows 10 desktop and windows 10 phone

[2018-07-24 05:18] marikavertzonis commented on #94
followed up email to Alan C about adding the link to the Windows Store to marketplace listing

[2018-08-09 00:43] dominikargast opened #98 "Remove duplicate internal/external location source selection"
The settings page offers the choice between internal and external position source. When choosing the external option, the device selection page appears, which contains the internal, network, and external device options.

The choice on the settings page is thus redundant and should be removed in favour of the device page, which contains all options in one place.

[2018-08-09 01:31] dominikargast commented on #98
@marikavertzonis test with build 3.1.2

[2018-08-09 01:59] dominikargast commented on #97
All relevant GNSS components are now collected in the directory GNSSPlugin. GNSS support has been successfully included in Survey123 with very little code changes required. GNSSInfo has been updated to make use of the GNSSPlugin directory too.

Closing this issue.

[2018-08-09 01:59] #97 closed

[2018-08-09 23:33] dominikargast commented on #96
Closing this issue since Mac, Android, iOS and Windows (classic) have been verified and the corresponding AppFramework issue has been closed.

[2018-08-09 23:33] #96 closed

[2018-08-10 00:25] marikavertzonis commented on #66
Done. https://www.microsoft.com/en-au/p/trek2there/9n9nlvh74l5k

[2018-08-10 00:25] #66 closed

[2018-08-29 23:10] dominikargast opened #99 "Feature request: Add current coordinates to the display"
From Sathya - Add a page which displays the current coordinates:

I was recently asked if AppStudio could be used to build such an app: https://itunes.apple.com/us/app/my-gps-coordinates/id945482414?mt=8

My immediate reaction was this one screen app fits nicely in Trek2Threre and does not warrant a new app. The more I think the more I feel that adding this view of current coordinates with other u

[2018-08-29 23:10] dominikargast opened #100 "Feature request: Allow sharing of current coordinates"
From Sathya - Allow sharing of current coordinates:

I was recently asked if AppStudio could be used to build such an app: https://itunes.apple.com/us/app/my-gps-coordinates/id945482414?mt=8

My immediate reaction was this one screen app fits nicely in Trek2Threre and does not warrant a new app. The more I think the more I feel that adding this view of current coordinates with other useful info wh

[2018-09-13 05:03] dominikargast opened #101 "Unable to connect to Bluetooth GPS devices on UWP"
Split off from #88 - this issue only refers to the UWP connection issue:

**anshuman-mathur commented on 20 Jun**

Tested Trek2There 3.0.36 Beta from HockeyApp which is built on AppFramework 3.1.58.

- ~~**Windows classic app:** Trek2There connects to a bluetooth GPS device successfully. However, when we try to change the device and connect to a different bluetooth GPS device, the app becomes non

[2018-09-13 05:04] dominikargast commented on #101
Related AppFramework issue: https://devtopia.esri.com/Melbourne/appstudio-framework/issues/692

[2018-09-18 05:17] dominikargast commented on #88
@marikavertzonis Please test with Trek2There or Survey123, AppFramework 3.2.1

[2018-09-18 05:19] dominikargast commented on #88
@marikavertzonis Please note that this only concerns Windows platforms, the UWP issue is separate and has been split off to #101

[2018-09-26 06:36] dominikargast commented on #88
@anshuman-mathur Please test with Trek2There or Survey123, AppFramework 3.2.10

[2019-02-14 04:44] dominikargast opened #102 "Fix anchors/layout mismatch errors"
After upgrading to Qt 5.11 a multitude of layout errors similar to the one below are reported in the console:

`file:///Users/dominik/Applications/Melbourne/Trek2There/controls/CustomizedDelegate.qml:12:9: QML Rectangle: Detected anchors on an item that is managed by a layout. This is undefined behavior; use Layout.alignment instead.`

`file:///Users/dominik/Applications/Melbourne/Trek2There/contr

[2019-02-14 04:45] dominikargast opened #103 "Update GNSSInfo plugin"
Update the GNSS handling to reflect the work done while introducing GNSS support in Survey123.

[2019-02-14 04:53] dominikargast commented on #103
@marikavertzonis please test with Trek2There 3.1.3 and check that no connectivity issues have been introduced with updating the GNSS plugin.

[2019-02-14 04:55] dominikargast commented on #102
@marikavertzonis please test with Trek2There 3.1.3 and check that no layout errors are reported in the console (may have to run from inside player)

[2019-02-18 06:16] dominikargast commented on #88
@marikavertzonis please retest this issue with the T2T 3.1.4 - I think this was resolved a while ago.

[2019-02-19 04:45] marikavertzonis commented on #102
* running trek2there 3.1.4 in appstudio 3.3.55 and in both Qt Creator and Visual Studio Codes console, i search for 'layout' and get nothing (no layout errors). the app runs as expected.
* installed trek2there 3.1.4 on iphone 6, pixel 2 and windows 10 also - and it works as expected

[2019-02-19 04:45] #102 closed

[2019-02-19 05:16] marikavertzonis commented on #88
- tested windows trek2there 3.1.4 and successfully switched back and forth between two external receivers 5+ times.
- didn't test uwp at this time as our certificate has expired and we are awaiting a new one (and the  issue with uwp has been split off anyway)

[2019-02-19 05:16] #88 closed

[2019-02-19 05:39] marikavertzonis commented on #103
tested build 3.1.4 on windows 10, iphone 6 and pixel 2 and successfully switch between external receivers and see expected distance and accuracy on main screen after switching

[2019-02-19 05:39] #103 closed

[2019-02-19 05:44] dominikargast opened #104 "Update the location settings UI"
The location settings UI should be improved. Conform to the Survey123 layout.

[2019-02-25 23:08] dominikargast commented on #40
The correct issue number for the commit above is #104

[2019-02-25 23:09] dominikargast commented on #104
Commit https://github.com/Esri/Trek2There/commit/1008db35f3370df367903871d1c7316fafc49301 was assigned an incorrect issue number (#40). It belongs to this issue.

[2019-02-26 05:10] dominikargast commented on #104
@marikavertzonis please test the initial implementation with T2T 3.1.6.

At present, the detailed provider settings pages are accessible from the location provider page for testing purposes. These will likely be hidden in the future since they are not really relevant for T2T.

[2019-02-27 06:12] marikavertzonis commented on #104
attempted to test with 3.1.6 (ios) and 3.1.7 (android) - white screen only on both

[2019-02-27 06:16] shobanasuresh commented on #104
Console log for white screen

[code]

@dominikargast @marikavertzonis

[2019-02-27 22:54] dominikargast commented on #104
@marikavertzonis fixed in 3.1.8

[2019-03-01 05:30] marikavertzonis commented on #104
- testing with 3.1.8 on samsung s9  and iphone 8 with bluetooth gps and network gps (trimble geoexplorer with gps gate)
- in general i can add a provider, see and amend the settings of the providers, and switch between providers
- problem with alerts
    - visual - what changes with this switch? currently you see the gps icon on the main page all the time. should this only be visible now when this

[2019-03-04 05:06] dominikargast commented on #104
@marikavertzonis test with 3.1.9. The greyed-out vibration switch shout now work. The satellite icon has been replaced with a new one, indicating connection state as in Survey123. Pressing the icon will open up the satellite info pages.

[2019-03-04 05:20] dominikargast commented on #68
The AppFramework issue impeding this seems to be resolved.

[2019-03-04 05:29] dominikargast commented on #99
A location info page is now accessible by pressing the satellite icon. This is a byproduct of reworking the location settings UI (#104).

[2019-03-05 02:03] marikavertzonis commented on #104
- testing with 3.1.10 on pixel 2 and iphone 6 with 2 bluetooth gps
- i now see the vibrate switch enabled on both
- the visual alert swtich disables/enables the alert messages on screen
- i see the same searching and blinking gps as in survey123

but
- have two bluetooth gps configured, and one connected. change the name of the not-connected one. see that the name of the connected one changes to t

[2019-03-07 00:29] dominikargast commented on #104
@marikavertzonis test with 3.1.11

[2019-03-12 03:14] marikavertzonis commented on #104
- testing with 3.1.12 on samsung s9 and iphone 8 with 2 bluetooth gps
- i see the vibrate switch enabled on both
- the visual alert switch disables/enables the alert messages on screen
- i see the same searching and blinking gps as in survey123
- i can switch between 2 connected devices and change their names as expected. new names are remembered when i close and restart the app.

@dominikargast -

[2021-01-20 21:01] marikavertzonis commented on #101
Background work for this was completed, but with new Microsoft store capabilities and creation of MSIX files, work into supporting windows universal in AppStudio apps has been shelved, so closing this issue without a release version.

[2021-01-20 21:01] #101 closed

[2021-01-21 02:58] marikavertzonis commented on #79
With new Microsoft store capabilities and creation of MSIX files, work into supporting windows universal in AppStudio apps has been shelved, so closing this issue without a release version.

[2021-01-21 02:58] #79 closed

[2021-01-21 02:58] marikavertzonis commented on #78
with new Microsoft store capabilities and creation of MSIX files, work into supporting windows universal in AppStudio apps has been shelved, so closing this issue without a release version.

[2021-01-21 02:58] #78 closed

[2021-02-01 05:50] dominikargast opened #105 "Update source code to run on Qt 5.15.2"
The code needs to be updated to reflect the API changes introduced in Qt 5.15.2.

[2021-02-03 00:35] dominikargast commented on #105
@marikavertzonis code has been updated, test with 3.1.14

[2021-02-03 00:35] dominikargast commented on #104
@marikavertzonis code has been updated, test with 3.1.14

[2021-02-03 00:39] dominikargast commented on #100
@marikavertzonis the coordinates can be copied to the clipboard by opening the location status pages (press on the satellite icon) and clicking on the values listed next to `Latitude`, `Longitude`, or `USNG`. Please test using 3.1.14

[2021-02-03 00:41] dominikargast commented on #99
@marikavertzonis the location status pages lists the current position (press on the satellite icon). Clicking on the `Latitude`, `Longitude`, or `USNG` changes to different coordinate formats (e.g. DD, DDMS, ...). Please test using 3.1.14

[2021-02-03 06:08] marikavertzonis commented on #104
- testing with 3.1.15 on nokia 8 (android 10) and iphone 8 (ios 13.3.1) and windows surface pro 3 (windows 10) with the bad elf pro+ and juniper geode
- all alerts work as expected
- i can switch between 2 connected devices and change their names as expected. new names are remembered when i close and restart the app.

[2021-02-03 06:08] #104 closed

[2021-02-03 06:24] marikavertzonis commented on #99
testing with 3.1.15 on nokia 8 (android 10) and iphone 8 (ios 13.3.1) with the bad elf pro+ and juniper geode and internal location provider
- i see tapping Latitude, Longitude changes to DDM then DD then back to DMS
- i see tapping USNG changes to MGRS then to UTM/UPS then back to USNG

[2021-02-03 06:24] #99 closed

[2021-02-03 06:41] marikavertzonis opened #106 "Release 3.1 checklist"
- [x] features complete
- [x] Testing complete
- [x] apps **submitted** to stores
    - [x] Windows store
    - [x] Apple store
    - [x] Google play store
- [x] app **released** in stores
    - [x] Windows store MSIX
    - [x] Apple store
    - [x] Google play store
- [x] windows desktop app available via public appcenter page
- [x] make app update available as sample in AppStudio (new online ite

[2021-02-03 20:44] marikavertzonis opened #107 "White screen on start up on Windows"
tested with 3.1.15 on Windows 10 - white screen only and app doesn't start.
Running the DebugView tool before launching T2T i see these debug msgs:
![image](https://user-images.githubusercontent.com/5713624/106806980-b4e93800-66bc-11eb-8353-209f8df58ef4.png)

[2021-02-05 02:55] marikavertzonis opened #108 "Compass icon displays at all times (not just when compass enabled)"
Whether compass is enabled or not, icon displays in to left had corner of the main page. this should turn on or off depending on the setting selection.

[2021-02-05 03:50] marikavertzonis commented on #107
we've now installed builds 3.1.16, 3.1.17 and 3.1.18 on other windows machines and they work fine. still get white screen on my surface pro 3. have deleted setting files and data files, uninstalled / reinstalled, to no avail. but cant reproduce. Leaving the issue open for me to continue troubleshooting, but removing from milestone.

[2021-02-05 03:54] marikavertzonis commented on #105
testing with 3.1.18 on nokia 8 (android 10) and iphone 8 (ios 13.3.1) and windows surface pro 3 (windows 10) with the bad elf pro+ and juniper geode
- switched between location providers, units, destination format, in the settings
- enabled / disabled aug reality
- launch from survey123 successfully and return to survey123 when tap 'end'

[2021-02-05 03:55] #105 closed

[2021-02-05 04:17] marikavertzonis commented on #108
testing with 3.1.19 on nokia 8 (android 10) and iphone 8 (ios 13.3.1) and windows surface pro 3 (windows 10)

- on start up, compass check box is empty, compass icon not visible
- i check compass check box, icon visible
- tested that this setting remembered with app shut down and reopened

[2021-02-05 04:17] #108 closed

[2021-02-05 04:27] shobanasuresh commented on #107
@marikavertzonis Can you test if launching Trek2There.exe with `--renderingEngine angle` command line parameters resolves the white screen issue?

[2021-02-08 21:07] marikavertzonis commented on #100
tested with 3.1.19 only on android 10 (don't have other devices with me at moment) and I see copy paste action works as expected.

[2021-02-09 01:28] brettstokes commented on #106
MSIX files have been created for v3.1.19 and are available in AppCenter:
- [Signed](https://install.appcenter.ms/orgs/appstudio-h0at/apps/Trek2There_x86_Signed.msix)
- [Unsigned](https://install.appcenter.ms/orgs/appstudio-h0at/apps/Trek2There_x86_UnSigned.msix)

[2021-02-12 05:56] marikavertzonis commented on #107
@shobanasuresh - tested with the command line parameters - no change (white screen only)

[2021-02-16 22:20] phil-wilson commented on #106
@marikavertzonis @anshuman-mathur @brettstokes Trek2There was rejected from Microsoft Store with following reason:

[2021-02-16 23:48] dominikargast commented on #106
@phil-wilson @marikavertzonis @anshuman-mathur @brettstokes Regarding the first point, the way I'm reading this is that we install another app together with T2T. Could it be an uninstaller that does not work correctly? (I don't have a windows machine at the moment with which I could test this.)

The reference to Taiwan seems to be the fact that Taiwan labeled on the map as such (instead of Taiwan,

[2021-02-17 00:41] marikavertzonis commented on #107
just as a matter of test progress, have now updated windows (and lots of drivers) to 20H2 - app still white screen on start up. also have used today build 3.1.19 (later build than previous, will have appstudio updates only, no app updates)

[2021-02-17 01:38] marikavertzonis commented on #106
- this page is the explanation of each warning - https://docs.microsoft.com/en-us/windows/uwp/publish/store-policies
- regarding icon issue - it infers an unexpected icon is deployed to start menu - we previously had an icon clean up problem on windows - need to test on a clean machine
- regarding the map issue - agreed this is something we inherit. options might be to remove the map page (brute f

[2021-02-17 07:01] #100 closed

[2021-02-17 07:23] dominikargast commented on #106
@marikavertzonis I'm not sure how useful the world imagery map is. If we show that then we should probably also add a basemap switcher and we potentially run into the same issue.

Disabling the map can simply done by setting a switch to false. If our main concern is getting T2T out the door then this is probably the quickest way to resolve this issue.

[2021-03-24 06:24] #106 closed

[2021-06-23 23:59] marikavertzonis commented on #107
tested again - still white screen - t2t version 3.1.22 on same computer. current versions:

Edition	Windows 10 Enterprise
Version	20H2
Installed on	‎17/‎02/‎2021
OS build	19042.1052

[2022-03-07 06:02] marikavertzonis commented on #107
tested again - no white screen now! t2t2 version 3.1.24 (appframework version 5.3.99) on same computer. current versions:

Edition Windows 11 Enterprise
Version 21H2
Installed on 8/‎11/‎2021
OS build 22000.493

[2022-03-07 06:02] #107 closed